.Homepage {
	display: grid;
	font-family: sans-serif;
	grid-gap: 10px;
	grid-template-rows: 30px 35px 1fr;
	margin: 0px;
	align-items: center;
	max-width: 1440px;
	margin: auto;


	&-TopMenuBar {
		display: flex;
    flex-direction: row;
		justify-content: space-around;
		padding: 10px 0px 0px 0px;

		&-logoContainer {
		
		}

		&-starred {
			color: grey;
		}
		&-star {
			// width: 5px;
			// margin-bottom: 10px;
		}
	}

	&-MessageBar {
		display: flex;
		background-color: rgb(211, 211, 211);
		padding: 10px;

		&-message {
			font-weight: bold;
			color: rgb(219, 68, 93);
		}

		:first-child {
			margin-right: auto;
		}
	}

	&-Background {
		position: relative;
    display: inline;
		max-width: 100%;
	}

	&-Offer {
		position: absolute;
		top: 18%;
		left: 37%;
		max-width: 25%;
	}
}

@media (min-width: 650px) {
	.Homepage {
		&-Offer {
			left: 43%;
			max-width: 15%;
		}
	}
}

@media (min-width: 1025px) {
	.Homepage {
		&-Offer {
			left: 43%;
			max-width: 10%;
		}
	}
}




