$black: #333333;
$red: #DB445D;

.Homepage {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 30px 35px 1fr;
	
	font-family: sans-serif;
	max-width: 1440px;
	margin: auto;
	color: $black;
	line-height: 20px;

	&-TopMenuBar {
		padding: 10px 0px 0px 0px;
		display: flex;

		&-demographic {
			display: none;
		}
		&-options {
			display: none;
		}
		
		&-icon {
			position: absolute;
			cursor: pointer;
		}
		
		&-logo {
			margin: 0 auto;
			max-height: 20px;
		}

		// &-starred {
			// lower number
		// }
	}

	.icon-menu {
		left: 2%;
	}
	.icon-magnifier {
		left: 18%;
	}
	.icon-star {
		left: 78%;
	}
	.icon-handbag {
		left: 95%;
	}
	.icon-user {
		display: none;
	}
	.icon-bell {
		display: none;
	}
			// color: grey;


	&-CategoryMenuBar {
		display: none;
	}

	&-MessageBar {
		position: relative;
		display: flex;
		justify-content: space-between;
		background-color: #d3d3d3;
		padding: 10px;

		:first-child {
			padding-left: 15px;
		}
		:last-child {
			padding-right: 15px;
		}

		&-message {
			font-weight: bold;
			color: $red;
		}
	}

	&-backgroundImage {
		position: relative;
    display: inline;
		max-width: 100%;
	}

	&-promotionImage {
		position: absolute;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 18%;
		left: 50%;
		max-width: 25%;	
	}

	&-ShopButtonContainer {
		display: inline-grid;
	}

	&-Content {
		position: absolute;
		top: 35%;
		text-align: center;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);

		&-title {
			font-weight: bold;
			font-size: 30px;
			width: 500px;
		}

		&-body {
			padding-top: 25px;
			padding-bottom: 15px;
			max-width: 55%;
			margin: auto;
		}

		&-shopButton {
			font-weight: bold;
			padding: 7px;
			min-width: 170px;
			min-height: 40px;
			color: white;
			background-color: #333333;
			border-color: #333333;
			border-radius: 5px;
		}
	}

	&-margin {
		margin-top: 20px;
	}

	&-emphasis {
		font-weight: bold;
	}

	&-Footer {
		&-terms {
			padding-top: 20%;
			font-weight: lighter;
		}
	}

}

@media (min-width: 650px) {
	.Homepage {

		grid-template-rows: 45px 35px 35px 1fr;

		&-TopMenuBar {
			&-icon {
				padding-top: 10px;
			}	
			.icon-menu {
				left: 2%;
			}
			.icon-magnifier {
				left: 8%;
			}
			.icon-star {
				left: 86%;
			}
			.icon-handbag {
				left: 94%;
			}
			&-logo {
				max-height: 30px;
				width: auto;
			}
		}

		&-MessageBar {
			&-message {
				color: rgb(175, 175, 28);
			}
		}

		&-ShopButtonContainer {
			display: block;
		}

		&-promotionImage {
			top: 10%; 
			max-width: 15%;
		}
		&-Content {
			margin-top: 20%;
			&-title {
				font-size: 20px;
			}
			&-body {
				font-size: 13px;
				max-width: 95%;
				width: 300px;
			}
			&-shopButton {
				min-height: 20px;
			}
		}
		&-Footer {
			&-terms {
				font-size: 12px;
				padding-top: 5%;
			}
		}
	}
}

@media (min-width: 1025px) {
	.Homepage {
		
		&-TopMenuBar {
			&-icon {
				padding-top: 10px;
			}
			&-starred {
				display: none;
			}
			&-logo {
				max-height: 40px;
				padding-right: 200px;
				width: auto;
			}
			&-options {
				display: inline-block;
			}
			&-demographic {
				display: inline-block;
				font-size: 14px;
				font-weight: bold;
				padding: 10px 0px 0px 20px;
			}
			&-demographicContainer {
				padding-left: 30px;
			}
		}

		&-lighter-text {
			font-weight: normal;
		}

		&-categoryMenuBar {
			display: flex;
			padding: 5px 50px;
		}

		&-category {
			font-size: 12px;
			font-weight: bold;
			padding-left: 20px;
		}

		&-searchWithIcon {
			margin-left: auto;
			&-search {
				padding: 0px 10px;
				height: 30px;
				border: 1px solid #ccc;
				border-radius: 4px;
				
				background-repeat: no-repeat;
				background-position: right;
			}
		}

		&-promotionImage {
			margin-top: 0%;
			max-width: 10%;
		}

		&-Content {
			margin-top: 0%;
		}

		&-MessageBar {
			background-color: #e4e4e4;
			justify-content: center;
			&-message {
				color: $red;
				a {
					color: $black;
					text-decoration: underline;
					font-weight: lighter;
				}
			}
		}

		.icon-user {
			display: block;
			left: 82%;
		}
		.icon-star {
			left: 86%;
		}
		.icon-handbag {
			left: 90%;
		}
		.icon-bell {
			display: block;
			left: 94%;
		}
		.icon-arrow-down {
			padding-left: 8px;
		}
	
		.icon-plus, .icon-menu, .icon-magnifier {
			display: none;
		}

	}

	
}




