.Homepage {
	display: grid;
	font-family: sans-serif;
	grid-gap: 10px;
	grid-template-rows: 30px 35px 1fr;
	max-width: 1440px;
	margin: auto;
	color: #333333;


	&-TopMenuBar {
		display: flex;
    flex-direction: row;
		justify-content: space-around;
		padding: 10px 0px 0px 0px;
		> Icon {
			cursor: pointer;
		}

		&-logoContainer {
		
		}

		&-starred {
			padding-top: 20px;
			margin-top: 15px;
			color: grey;
		}
		&-star {
			// color: red;
		}
	}

	&-MessageBar {
		display: flex;
		background-color: rgb(211, 211, 211);
		padding: 10px;

		&-message {
			font-weight: bold;
			color: rgb(219, 68, 93);
		}

		:first-child {
			margin-right: auto;
		}
	}

	&-backgroundImage {
		position: relative;
    display: inline;
		max-width: 100%;
	}

	&-promotionImage {
		position: absolute;
		top: 18%;
		left: 37%;
		max-width: 25%;	
	}

	&-Content {
		position: absolute;
		top: 35%;
		margin: auto;
		text-align: center;

		&-title {
			font-weight: bold;
			font-size: 30px;
		}

		&-body {
			padding-top: 25px;
			padding-bottom: 15px;
			max-width: 55%;
			margin: auto;
		}

		&-shopButton {
			font-weight: bold;
			padding: 7px;
			min-width: 200px;
			min-height: 40px;
			color: white;
			background-color: #333333;
			border-color: #333333;
			border-radius: 5px;
		}
	}

	&-margin {
		margin-top: 20px;
	}

	&-emphasis {
		font-weight: bold;
	}

	&-Footer {
		&-terms {
			padding-top:20%;
			font-weight: lighter;
		}
	}

}

@media (min-width: 650px) {
	.Homepage {
		&-promotionImage {
			left: 42%;
			max-width: 15%;
		}
	}
}

@media (min-width: 1025px) {
	.Homepage {
		&-promotionImage {
			left: 44%;
			max-width: 10%;
		}
	}
}




